# --- Unity ---
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild*/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/
SysInfo.txt
# IDE
.vs/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.tmp
*.swp
*.orig
*.bak
# Crash & Reports
*.stacktrace
# Rider/VS Code
.idea/
.vscode/
